<%- include('partials/_header.ejs') %>


	<main id="fullpage">
			
		<header class="section header">
				
		 	<div class="container">
			 	<div class="row">
					 <!--form-->
					 <div class="col-md-5">
						<div class="card">
							<div class="card-body">
								<form action="/add" method="POST">
									<div class="form-group">
										<input type="text" name="title" id="" placeholder="Nombre de tu tarea" class="form-control">
									</div>
									<div class="form-group">
											<textarea name="description" id="" cols="80" class='form-control' placeholder="inserte la descripción"></textarea>
									</div>
									<button type="submit" class="btn btn-primary btn-block">
										Agendar actividad
									</button>
								</form>
							</div>
						</div>
					 </div>
					 <!--lista-->
					 <div class="col-md-7">
						<table class="table table-bordered table-hover">
							<thead>
								<th>N°</th>
								<th>Titulo</th>
								<th>Descripción</th>
								<th>Opciones</th>
							</thead>
							<tbody><!--de aqui hacia abajo se recorre el objeto tasks que trae toda la info de la base de datos para mostrarlo-->
								<% for(var i=0; i<tasks.length; i++) { %>
										<tr>
												<td><%= i + 1%></td><!--genera un numero de ingreso de acuerdo a la posicion en la que esta en el array ejemplo la posicion o +1 es la primera ingresada-->
												<td><strong><%= tasks[i].title %></strong></td><!--asi se trae la info dependiendo del nombre definido en el schema-->
												<td><%= tasks[i].description %></td>
												<td>
												  <a
													class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
													href="/turn/<%= tasks[i]._id %>">Done</a><!--condicional donde segun el estado se cambia de color el boton-->
												  <a href="/delete/<%= tasks[i]._id %>"
													class="btn btn-danger">
													Delete
												  </a>
												  <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
													Edit
												  </a>
												</td>
											  </tr>
								<%}%>
							</tbody>
						</table>
					 </div>
				 </div>
		 	</div>
		</header>
		<!-- <section class="section Productos">
			<div class="contenedor-titulo">
				<h1 class="titulo"><span class="texto-verde">
						Productos
					</span></h1>
			</div>

			<video loop muted data-autoplay class="bg-video">
				<source src="media/Reusa.mp4" type="video/mp4">
			</video>
		</section> -->
		<section class="section login">	
			login
      
			</section>
	<section class="section login">
			
        login2
	</section>
	<footer class="section footpage">
			<h2 class="texto-blanco">SIGUENOS EN REDES SOCIALES</h2>
			<p class="redes-sociales">
				<a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
				<a href="" class="instagram"><i class="fab fa-instagram"></i></a>
				<a href="" class="twitter"><i class="fab fa-twitter-square"></i></a>
			</p>
	</footer>
	</main>

    <%- include('partials/_footer.ejs') %>