<%- include('partials/_header.ejs') %>


<body>


		<div class="jumbotron text-center">
				<h1>Informe de Porcentaje de Coincidencias</h1>
				<div style="display: inline">
						<div style="display: inline">
							<button id="mostrar" class="btn btn-info" type="button"
							onclick="document.getElementById('1401').style.display= 'block';document.getElementById('1402').style.display= 'none';document.getElementById('1403').style.display= 'none';document.getElementById('1404').style.display= 'none';">Listado de Estudiantes por coincidencias</button>
					</div>
					<div style="display: inline">
							<button id="mostrar2" class="btn btn-info" type="button"
							onclick="document.getElementById('1402').style.display= 'block';document.getElementById('1401').style.display= 'none';document.getElementById('1403').style.display= 'none';document.getElementById('1404').style.display = 'none';">Listado con porcentajes</button>
	
			 		</div>
						
				     <div style="display: inline">
						<button id="mostrar3" class="btn btn-info" type="button"
							onclick="document.getElementById('1403').style.display= 'block';document.getElementById('1401').style.display = 'none';document.getElementById('1402').style.display = 'none';document.getElementById('1404').style.display = 'none';">Listado completo de estudiantes</button>
			
					</div>
					<div style="display: inline">
							<button id="mostrar4" class="btn btn-info" type="button"
								onclick="document.getElementById('1404').style.display= 'block';document.getElementById('1401').style.display = 'none';document.getElementById('1402').style.display = 'none';document.getElementById('1403').style.display = 'none';">Estudiantes detectados</button>
				
					</div>
								
				</div>
				<p>
					Número de estudiantes detectados por coincidencias: <%=uniqs.length%>
				</p>
				
		</div>
		<div class="container-fluid" id="1401" style="display: block;">
				<div class="row justify-content-md-center">
				<div class="col-md-auto">
					
							<table class="table table-bordered table-hover">
									<thead>
											<th>Estudiante</th>
									</thead>
									<tbody>

												<% for(var z=0; z<uniqs.length; z++) { %>
													<tr>
														<td>
																Estudiante<%=uniqs[z]%>
														</td>
													</tr>
												<%}%>		
									</tbody>		
							</table>
					
						
				</div>
				</div>
				<div class="row justify-content-md-center" >
						<button id="ocultar" class="btn btn-info" type="button"
						onclick="document.getElementById('1401').style.display= 'none';">Mostrar menos</button>
				</div>

				
					
		</div>

		<div class="container-fluid" id="1402" style="display: none;">
				<div class="row justify-content-md-center">
						<div class="col-md-auto">
												<table class="table table-bordered table-hover">
														<thead>
															<th>Estudiante #</th>
															<th>Estudiante #</th>
															<th>Coinciden en: </th>
															<th>Hora de Entrega primer estudiante</th>
															<th>Hora de Entrega segundo estudiante</th>
															<th>Fecha: </th>
															<th>Dirección IP primer estudiante</th>
															<th>Dirección IP segundo estudiante</th>
														</thead>
														<tbody>
															
								
															<% for(var i=0; i<obj.datos.length; i++) { %>
															<tr>
																<td><%=obj.datos[i].estudiante1%></td>
																<td><%=obj.datos[i].estudiante2%></td>
																<td><%=obj.datos[i].coincidencias%>%</td>
																<td><%=obj.datos[i].horaestudiante1%></td>
																<td><%=obj.datos[i].horaestudiante2%></td>
																<td><%=obj.datos[i].fecha%></td>
																<td><%=obj.datos[i].dir_ip1%></td>
																<td><%=obj.datos[i].dir_ip2%></td>
															</tr>
															<%}%>
															
														</tbody>
												</table>
						</div>
				</div>
				<div class="row justify-content-md-center">
							<button id="ocultar" class="btn btn-info" type="button"
							onclick="document.getElementById('1402').style.display= 'none';">Mostrar menos</button>
				</div>
				
		</div>

		<div class="container-fluid" id='1403' style="display: none;">
			<div class="row justify-content-md-center" >
				<div class="col-md-auto">
						<table class="table table-bordered table-hover">
								<thead>
									<th>N°</th>
									<th>Estudiante</th>
									<th>Dir IP</th>
									<%let respuestas = consulta[0].answers.split('&');%>
									<% for(var i=0; i<respuestas.length; i++) { %>
									<th>Respuesta<%= i+1%></th>
									<%}%>
				
										
									<th>Curso</th>
									<th>Cod Sesión</th>
									<th>Fecha</th>
									<th>Unidad</th>
									<th>Actividad</th>
									<th>Sección</th>
									<th>Subsección</th>
									<th>Hora</th>
									<th>Página</th>
								</thead>
								<tbody><!--de aqui hacia abajo se recorre el objeto consulta que trae toda la info de la base de datos para mostrarlo-->
									  <% let prueba , pruebas; %>
									<% for(var i=0; i<consulta.length; i++) { %>
									<% let prueba , pruebas,answer_check; %>
									<% prueba = consulta[i].answers.split('&');%>
									<tr>
										<td><%= i + 1%></td>
										<!--genera un numero de ingreso de acuerdo a la posicion en la que esta en el array ejemplo la posicion o +1 es la primera ingresada-->
										<td><%= consulta[i].username %></td>
										<!--asi se trae la info dependiendo del nombre definido en el schema-->
										<td><%= consulta[i].dir_ip %></td>
										<% for(var j=0; j<prueba.length; j++) {%>
										<% answer_check=prueba[j].split('=');%>
										<td><%=answer_check[1]%></td>
										<%}%> 
													<td><%= consulta[i].course %></td>
										<td><%= consulta[i].session %></td>
										<td><%= consulta[i].date %></td>
										<td><%= consulta[i].unit %></td>
										<td><%= consulta[i].name %></td>
										<td><%= consulta[i].section %></td>
										<td><%= consulta[i].subsection %></td>
										<td><%= consulta[i].time %></td>
										<td><%= consulta[i].page %></td>
			
										<!--	<td>
													  <a
														class="<%= consulta[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
														href="/turn/<%= consulta[i]._id %>">Done</a>condicional donde segun el estado se cambia de color el boton
													  <a href="/delete/<%= consulta[i]._id %>"
														class="btn btn-danger">
														Delete
													  </a>
													  <a href="/edit/<%= consulta[i]._id %>" class="btn btn-info">
														Edit
													  </a>
													</td>-->
									</tr>
			
									<%}%>
								</tbody>
							</table>
				</div>
			</div>
			<div class="row justify-content-md-center">
					<button id="ocultar" class="btn btn-info" type="button"
					onclick="document.getElementById('1402').style.display= 'none';">Mostrar menos</button>
			</div>
		</div>
		<div class="container-fluid" id="1404" style="display: none;">
				<div class="row justify-content-md-center">
				<div class="col-md-auto">
					
							<table class="table table-bordered table-hover">
									<thead>
											<th>#</th>
											<th>Estudiante</th>
											<th>grupo de trabajo</th>
									</thead>
									<tbody>

												<% for(var z=0; z<busqinforme.length; z++) { %>
													<tr>
														<td><%=z+1%> </td>
														<td>
																<%= busqinforme[z].nombre %>
														</td>
														<td>
																<%= busqinforme[z].ip%>
														</td>
													</tr>
												<%}%>		
									</tbody>		
							</table>
					
						
				</div>
				</div>
				<div class="row justify-content-md-center" >
						<button id="ocultar" class="btn btn-info" type="button"
						onclick="document.getElementById('1404').style.display= 'none';">Mostrar menos</button>
				</div>

				
					
		</div>

</body>

	

    <%- include('partials/_footer.ejs') %>