<%- include('partials/_header.ejs') %>
	<div class="titulo-ip">
				<h1>
						Hay <%=repetidos.length%> Grupos de trabajo
				</h1>
	</div>
	<div class="grid-ip">
				
					<% if(repetidos.length==0){%>
						<div class="card-titulo">
						<h4>No hay direcciones ip coincidentes</h4>
					    </div>
						<%}%>
						
						<% for(var j=0; j<repetidos.length; j++) { %>
							
								<div class="card-ip">
									<div class="tittle">
											<h4> Direccion IP</h4>
									</div>
									<div class="enunciado">
											<% let dir_ip  %>
											<% dir_ip = repetidos[j]%>
										<a href="/ipseccion/<%=dir_ip%>/<%=subseccion%>"><p><%=repetidos[j]%></p></a>
									</div>		
								</div>
								<%}%>
							
					
				
			</div>			
		 	
    <%- include('partials/_footer.ejs') %>
    
